  // Cartesian Grid
  svg {
    font: 10px sans-serif;
    user-select: none;
  }
  
  path.line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }
  
  path.area {
    fill: #e7e7e7;
  }
  
  .x.axis {
    text {
      pointer-events: none;
    }
    line {
      stroke: black;
      stroke-width: 0.2px;
    }
  }
  
  .x.axis .minor {
    stroke-opacity: .5;
  }
  
  .x.axis path {
    display: none;
  }
  
  .y.axis line,
  .y.axis path {
    fill: none;
    stroke: #000;
  }

  .movement-path {
    stroke: white;
    fill: none;
  }

  .path-creating {
    stroke-dasharray: 5px;
  }

  .path-queued {
    stroke: $primary-color;
  }