.visualisation-grid {
    overflow: hidden;
    position: relative;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        .tick {
            line {
                stroke: grey;
                stroke-opacity: .5;
                stroke-width: 1px;
                stroke-linecap: square;
            }
        }
        .handle {
            fill: none;
            pointer-events: all;
            stroke: $primary-color-dark;
            stroke-width: 2px;
            cursor: move;
        }
        #buttons {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;
        }
        button {
            display: block;
            width: 10em;
        }
        button:focus {
            outline: none;
        }
    }
    #transform-layer {
        .line--x,
        .line--y {
            stroke: $primary-color-dark;
            stroke-opacity: .25;
            stroke-width: 1px;
            stroke-linecap: square;
        }
    }
}

#vertical {
    .rotating-stage {
        transform-origin: bottom right;
        .stage {
            stroke: #000;
        }
        .woodblock {
            fill: $primary-color;
        }    
    }
    .axis {
        fill: none;
        line {
            stroke: grey;
            opacity: 0.5;
        }
        text {
            fill: grey;
        }
    }
    .drill-height, .drill-vertical-alignment {
        stroke:$primary-color-dark;
        stroke-dasharray: 5,5;
    }
}