.visualisation-grid {
    position: relative;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        .tick {
            line {
                stroke: grey;
                stroke-opacity: .5;
                stroke-width: 1px;
                stroke-linecap: square;
            }
        }
        .handle {
            fill: none;
            pointer-events: all;
            stroke: red;
            stroke-width: 2px;
            cursor: move;
        }
        #buttons {
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;
        }
        button {
            display: block;
            width: 10em;
        }
        button:focus {
            outline: none;
        }
    }
    #transform-layer {
        .line--x,
        .line--y {
            stroke: red;
            stroke-opacity: .25;
            stroke-width: 1px;
            stroke-linecap: square;
        }
    }
}